body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    background-color: black; /* Light background color for the page */
}

.container {
    background-color: rgb(22, 21, 21); /* Blue background color */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    max-width: 800px; /* Maximum width for the box */
    width: 100%; /* Make sure the container is responsive */
    box-sizing: border-box; /* Include padding and borders in element's total width and height */
}

h1 {
    text-align: center;
    color: white; /* White color for the title */
}

.summary-item, .form-group {
    margin-bottom: 15px;
    text-align: left;
    color: white; /* White color for text */
}
#payment_type{
    width: 40%;
}
.summary-item p, .form-group label {
    font-size: 18px;
}

input[type="file"], select {
    padding: 8px;
    width: 100%;
    margin-top: 5px;
}

button {
    position: relative;
    left: 200px;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    /* background-color: #1abc9c; */
    background-color:#FFA500 ;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff8800 ;
    transition-duration: 0.3s;
}
